<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/app/src/static/css/home.css" />
    <link rel="icon" type="image/png" href="/app/src/static/img/favicon.png"/>
    <title>Impulse Online Chat - Home</title>
</head>
<body>
    <div class="home-page-wrapper">
        <div class="container">
              <div class="shape"></div>
        </div>
        <div class="phrase"><b>Impulse Websocket Online Chat</b></div>
        <div class="login-btn"><a href="/login_page" class="link-to"><span class="login-link">Вход</span></a></div>
        <div class="reg-btn"><a href="/register_page" class="link-to"><span class="reg-link">Регистрация</span></a></div>
    </div>
</body>
</html>




